html {
  scroll-behavior: smooth;
}

body{
    background-color: honeydew;
    font-family: Arial;
    scroll-behavior: smooth;
}

h1{
    padding-top: 30px;
}

ul ul {
    display: none;
}

.tipos:hover ul {
    display: block;
}

.navbar{
    background-color: #213945;
    width: 100%; /* define a largura do cabeçalho como 100% */
    position: fixed; /* fixa o cabeçalho na página */
    top: 0; /* fixa o cabeçalho no topo da página */
    left: 0; /* fixa o cabeçalho na lateral esquerda da página */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
}

#nav-list{
    position: fixed; /* fixa a lista na página */
    top: 0; /* define a posição do topo da lista */
    right: 0; /* define a posição da direita da lista */
    margin-right: 10%;
    color: white;
    padding-right: 10px;
}

.nav-itens{
    display: inline-block;
    padding-left: 20px;
}

.nav-link{
    color: white;
    outline: none;
    text-decoration: none;
    font-family: Arial;
}

#divisor{
    font-size: 30px;
    color: #213945;
}

#logo{
    width: 150px;
    margin-left: 40px;
}

#logo-capa{
    width: 30%;
    display: block;
    margin-left: 35%; 
    margin-top: 5%;   
}

.page{
    text-align: center;
    color: black;
    margin-top: 7%; 
    margin-bottom: 10px;
    background-color: beige;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 15px;
}

.produtos-grid {
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    grid-gap: 10px;
}

.produto {
    padding: 20px;
    text-align: center;
}

.produto img {
    max-width: 30%;
    height: auto;
}

.produto h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.produto p {
    margin-bottom: 10px;
}

.produto button {
    background-color: blue;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.texto-sobre{
    font-size: 18px;
    line-height: 1.5;
    max-width: 800px;
    margin-left: 22%;
    padding-bottom: 20px;
    white-space: pre-line;
    text-align: justify;
}

/*.email-form{
    display: inline-block;
    padding: 50px;
}

.inputUser{
    background: none;
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
    color: Black;
}

#submit{
    width: 40%;
    color: white;
    border: none;
    border-radius: 8px;
    background-color: dodgerblue;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
}

#submit:hover{
    background-color: deepskyblue;
}*/

.wpp-contact{
    position: relative;
    display: inline-block;
    padding: 50px;
    margin-top: -10px;
}

.wpplogo{
    width: 15%;
    margin-top: 15%;
    vertical-align:middle;
    cursor: pointer;
}

.mapa{
    display: inline-block;
}

.carousel {
    width: 100%; /* define a largura do carousel */
    overflow: hidden; /* esconde as partes do carousel que ficam fora da área visível */
}

.carousel-container {
    display: flex; /* define o container dos itens como um flex container */
    width: 100%; /* define a largura do container como a mesma do carousel */
    transition: transform 0.5s ease; /* adiciona transição para a animação do carousel */
}

.carousel-item {
    flex: 0 0 auto; /* define o tamanho dos itens do carousel */
    width: 100%; /* define a largura dos itens */
    margin-right: 10px; /* define a margem entre os itens */
}

.carousel-item img {
    width: 100%; /* define a largura da imagem como a mesma do item */
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  background-color: #f9f9f9;
  padding: 20px;
}

.card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 5px;
}
